.redirect-text {
  font-style: italic;
  font-size: 20px;
}

.form_area {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.text-white {
  color: white;
}

.display-area {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}