<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
        <h1 class="display-3">
            User Registration Successful!
        </h1>
        <p class="redirect-text">
            You will be redirected momentarily.
        </h1>
    </div>
{% endblock content %}
    
</body>
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "/kdc/login";
    }, 2000);
</script>
</html>