<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div class="container-fluid">
        <div class="text-center">
            
            {% block content %}
                <h1 class="display-4">User registration</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary" type="submit">Register</button>
                </form>
            {% endblock %}
            
        </div>        
    </div>
</body>
</html>